@value variables: "./variables.module.css";
@value breakpoints_sm, breakpoints_md, breakpoints_lg from variables;

.row {
  --eui-gutter-x: 1.5rem;
  --eui-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--eui-gutter-y));
  margin-right: calc(-0.5 * var(--eui-gutter-x));
  margin-left: calc(-0.5 * var(--eui-gutter-x));

  &:not(:only-child, :last-child) {
    padding-bottom: 2rem;
  }

  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--eui-gutter-x) * 0.5);
    padding-left: calc(var(--eui-gutter-x) * 0.5);
    margin-top: var(--eui-gutter-y);
  }
}

.col {
  flex: 1 0 0;
}

.rowCols_1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.rowCols_2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.rowCols_3 > * {
  flex: 0 0 auto;
  width: 33.33333333%;
}

@media (min-width: breakpoints_sm) {
  .rowCols_sm_1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .rowCols_sm_2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: breakpoints_md) {
  .rowCols_md_1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .rowCols_md_2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .rowCols_md_3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: breakpoints_lg) {
  .rowCols_lg_1 > * {
    flex: 0 0 auto;
    width: 100%;
  }

  .rowCols_lg_2 > * {
    flex: 0 0 auto;
    width: 50%;
  }

  .rowCols_lg_3 > * {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .rowCols_lg_4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
}
