.main {
  padding-bottom: 1.5rem;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title::first-letter {
  text-transform: uppercase;
}

.title::after {
  content: "✦";
  color: var(--eui-color-accent);
  font-size: 0.4em;
  margin-left: 4px;
}
